################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Duplicates in file names/v15
/.vs/Duplicates in file names/DesignTimeBuild
